:root {
  --ion-color-primary: #384245;
  --ion-color-primary-rgb: 56,66,69;
  --ion-color-primary-contrast: #F5CC46;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #ddb216;
  --ion-color-primary-tint: #F5CC46;
 
  /* --ion-color-primary: #6b8294;
  --ion-color-primary-rgb: 107,130,148;
  --ion-color-primary-contrast: #7a8f9f;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #d7d8da;
  --ion-color-primary-tint: #f5f6f9; */

    /* --ion-color-primary: #ac6c75;
    --ion-color-primary-rgb: 172,108,117;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #975f67;
    --ion-color-primary-tint: #b47b83; */


    /* --ion-color-primary: #3dc2ff;
    --ion-color-primary-rgb: 61,194,255;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #36abe0;
    --ion-color-primary-tint: #ffffff; */

    /* --ion-color-primary: #E9C46A;
    --ion-color-primary-rgb: 233,196,106;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #cdac5d;
    --ion-color-primary-tint: #ebca79; */
  
  
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61,194,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;
  
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82,96,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;
  
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45,211,111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;
  
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255,196,9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
  
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235,68,90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;
  
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34,36,40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
  
    --ion-color-medium: #0e5983;
    --ion-color-medium-rgb: 14,89,131;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #0c4e73;
    --ion-color-medium-tint: #266a8f;
  
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,245,248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
  }