body{
    -webkit-font-smoothing: unset;
}

.fanszone{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.smallFlexBox{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0 20px;
    color: var(--ion-color-primary);
}

.fanszone-comment{
    height: 50vh;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.commentBoard, .commentArea{
    width: 50vw;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
    border-radius: 10px;
}

.commentBoardComment{
    /* padding: 5px; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--ion-color-primary-shade);
    padding: 5px 30px;
    margin: 3px;
    margin-top: 10px;


}


.fanszone-comment{
    padding: 15px;
    margin: 10px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.commentArea, .commentArea form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.commentArea input{
    font-family: 'Fira Sans', sans-serif;
    color: var(--ion-color-primary-contrast);
    background: linear-gradient(
        to left top, 
        (255, 255, 255, 0.2), 
        (255, 255, 255, 0.9));
    border-radius: 5px;
    border: 2px solid #00000030;
    padding: 0 5px;
}

.commentArea{
    width: 95%;
}

.commentArea input:focus{
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.753);
    border: none;
}

.commentAreabtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;


}

.commentAreabtn button{
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    background-color: var(--ion-color-primary);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), var(--ion-color-primary-shade, 0.2));
    border: none;
    color: #00000090;
}

.comment{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 400px) {
   .smallFlexBox{
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap column;
    font-size: 15px;
   }
}